.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}



/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
	width: 5rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
}

/* Main content. */
.entry-header {
	text-align: center;
	background-color: brown;
	padding: 2rem;
}
 .entry-title>hr {
	
	width: 90%;
} 


.entry-title {
	margin: 0;
}

.entry-content {
	background-color: brown;
	margin: 0;
	
}

.wp-block-separator {
	width: 90%;
	background-color: whitesmoke;
	border: .2rem whitesmoke solid;
}

.what-about {
	padding: 2rem;
}

.me-picture {
	display: flex;
	align-items: center;
	background-color: lightseagreen;
	
	
	min-height: 100vh;
	

	&-left {
		width: 70%;
		background-color: yellow;
		padding-right: 0;		
	}

	&-right {
		text-align: start;
		background-color: green;
		padding-left: 0;
	}
}

.contact-me {

	padding: 2rem;
	background-color: whitesmoke;
	margin: 0 auto;
		
}
.contact-form {
	width: 50%;
	text-align: right;
}