.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}



/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
	width: 5rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
}

/* Main content. */
.entry-header {
	text-align: center;
	background-color: brown;
	padding: 2rem;
}
.entry-header  hr {
	border: 1px doted grey;
}


.entry-title {
	margin: 0;
}

.entry-content {
	background-color: brown;
	margin: 0;
	
}

.what-about {
	padding: 2rem;
}

.me-picture {
	background-color: lightseagreen;
	margin: 0;
	align-content: center;
}