.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}

.site-header {
	grid-area: header;
	display: grid;
	grid-template-columns: auto auto;
	padding: 0;
	background-color: gray;
	min-height: 40rem;
	
}
.header-left-column {
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	
}
.site-branding {
	
	display: flex;
	flex-direction: column;
	background-color: greenyellow;
	padding-top: 50%;
	padding-left: 10%;
}
